<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jotlain
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <p>You joined the chat!</p>
    <ion-row *ngFor="let message of messages">
 
      <ion-col size="9" *ngIf="message.user !== currentUser" class="message other-message">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
    
      <ion-col offset="3" size="9" *ngIf="message.user === currentUser" class="message my-message">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
    
    </ion-row>
  </ion-grid>
  <ion-footer class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-textarea [(ngModel)]="textArea"></ion-textarea>
        <ion-button (click)="SendMessage(textArea)">send</ion-button>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>

